body {
  padding: 0;
  margin: 0%;
  background: linear-gradient(to right, #d47447, #e4895f);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calc-wrapper {
  width: 400px;
  height: 600px;
}

.row {
  display: flex;
  width: 100%;
}
